Repository nuobit/odoo-addons, pull requests merged in 2024-03, with the labels that each got.

#373 [14.0][ADD] product_multi_unique_barcode: new module
  product_multi_unique_barcode/README.rst
  product_multi_unique_barcode/__init__.py
  product_multi_unique_barcode/__manifest__.py
  product_multi_unique_barcode/models/__init__.py
  product_multi_unique_barcode/models/product_barcode.py
  product_multi_unique_barcode/readme/CONTRIBUTORS.rst
  product_multi_unique_barcode/readme/DESCRIPTION.rst
  product_multi_unique_barcode/static/description/icon.png
  product_multi_unique_barcode/static/description/index.html
  setup/product_multi_unique_barcode/odoo/addons/product_multi_unique_barcode
  setup/product_multi_unique_barcode/setup.py
Labels: ready to merge, deployed in pro

#367 [14.0][FIX] stock_rest: wrong additional move created on pickings
  stock_rest/services/stock_operation_service.py
Labels: ready to merge, deployed in pro

#351 [14.0][IMP] connector_oxigesti: readonly product default code
  connector_oxigesti/models/product_product/binding.py
  connector_oxigesti/models/product_template/binding.py
  connector_oxigesti/views/product_product_view.xml
Labels: ready to merge, deployed in pro

#343 [14.0][ADD] stock_barcodes_qty_virtual_location: new module
  __init__.py
  setup/stock_barcodes_qty_virtual_location/odoo/addons/stock_barcodes_qty_virtual_location
  setup/stock_barcodes_qty_virtual_location/setup.py
  stock_barcodes_qty_virtual_location/README.rst
  stock_barcodes_qty_virtual_location/__init__.py
  stock_barcodes_qty_virtual_location/__manifest__.py
  stock_barcodes_qty_virtual_location/readme/CONTRIBUTORS.rst
  stock_barcodes_qty_virtual_location/readme/DESCRIPTION.rst
  stock_barcodes_qty_virtual_location/static/description/icon.png
  stock_barcodes_qty_virtual_location/static/description/index.html
  stock_barcodes_qty_virtual_location/wizards/__init__.py
  stock_barcodes_qty_virtual_location/wizards/stock_barcodes_read.py
Labels: ready to merge, deployed in pro, deployed in pre

#336 [14.0][ADD] stock_location_flowable: new module
  setup/stock_location_flowable/odoo/addons/stock_location_flowable
  setup/stock_location_flowable/setup.py
  stock_location_flowable/README.rst
  stock_location_flowable/__init__.py
  stock_location_flowable/__manifest__.py
  stock_location_flowable/i18n/es.po
  stock_location_flowable/models/__init__.py
  stock_location_flowable/models/mrp_production.py
  stock_location_flowable/models/stock_location.py
  stock_location_flowable/models/stock_move.py
  stock_location_flowable/models/stock_move_line.py
  stock_location_flowable/models/stock_picking.py
  stock_location_flowable/models/stock_picking_type.py
  stock_location_flowable/models/stock_quant.py
  stock_location_flowable/models/stock_return_picking.py
  stock_location_flowable/readme/CONTRIBUTORS.rst
  stock_location_flowable/readme/DESCRIPTION.rst
  stock_location_flowable/static/description/icon.png
  stock_location_flowable/static/description/index.html
  stock_location_flowable/tests/__init__.py
  stock_location_flowable/tests/test_common.py
  stock_location_flowable/tests/test_mrp_production.py
  stock_location_flowable/tests/test_stock_location.py
  stock_location_flowable/tests/test_stock_picking.py
  stock_location_flowable/tests/test_stock_picking_type.py
  stock_location_flowable/views/mrp_production_views.xml
  stock_location_flowable/views/stock_location_views.xml
  stock_location_flowable/views/stock_move_views.xml
  stock_location_flowable/views/stock_picking_type_views.xml
  stock_location_flowable/views/stock_picking_views.xml
Labels: ready to merge, deployed in pro

#362 [16.0][ADD] web_notebook_wrap: New Module
  setup/web_notebook_wrap/odoo/addons/web_notebook_wrap
  setup/web_notebook_wrap/setup.py
  web_notebook_wrap/README.rst
  web_notebook_wrap/__init__.py
  web_notebook_wrap/__manifest__.py
  web_notebook_wrap/readme/CONTRIBUTORS.rst
  web_notebook_wrap/readme/DESCRIPTION.rst
  web_notebook_wrap/static/description/icon.png
  web_notebook_wrap/static/description/index.html
  web_notebook_wrap/static/src/core/notebook/notebook.xml
Labels: work in progress, to review, deployed in pre
